<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/exercises_modal.css">

    <title>Bài tập: Modal</title>
</head>
<body>
    <div class="modal">
        <div class="modal-content">
            <i class="fa fa-times modal-close"></i>
            <div class="modal-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, atque! Commodi, dignissimos dolorum. Repudiandae libero, enim, incidunt minima soluta blanditiis recusandae nemo ipsum nam laboriosam molestias aliquid suscipit minus dolor!
            </div>
            <div class="modal-action">
                <button class="modal-submit">Confirm</button>
                <button class="modal-cancel">Cancel</button>
            </div>
        </div>
    </div>
    <script src="../js/exercises_modal.js"></script>
</body>
</html>