<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chương 8: DOM</title>
</head>
<body>
    <!-- <div class="card">
        <img src="https://i.pinimg.com/736x/d7/8d/9d/d78d9d7061dac28debe593f0f8642180.jpg" alt="img" class="card-image">
    </div> -->

    <!-- beforebegin -->
    <h3>
        <!-- afterbegin -->
        <a href="#" class="demo">Demo</a>
        <span class="span">
            <strong>Hiếu Nghĩa</strong>
            <strong class="strong">Hiếu Nghĩa</strong>
        </span>
        <span class="span2">Bé mỡ</span>
        <span class="span3">Bé mỡ</span>
        <!-- beforeend -->
    </h3>
    <!-- afterend -->

    <script src="../traversing.js"></script>
</body>
</html>